.container {
    width: 100%;
    background-color: lightseagreen;
    display: flex;
    flex-direction: column;
}

.btn {
    padding: 5px;
    min-width: 30px;
}

.btn-ac {
    min-width: 60px !important;
}

.input {
    padding: 5px;
}

/* @media screen and (max-width: 768px) {
    .container {
        background-color: darkslateblue;
    }
}

@media screen and (max-width: 250px) {
    .container {
        background-color: darkgreen;
    }
} */